:root {
    --base-color: #0962E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    width: 100%;
}

html, body {
    overflow-x: hidden;
}

body, input, textarea, a, button, ul, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

.hero {
    background-color: #CBECFF;
    padding: 30px 0;
}

.language_wrapper {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 0 15px;
}

.language {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    border-radius: 100%;
    color: #29374E;
    
    padding: 4px 5px;
    
    cursor: pointer;
    z-index: 1;
    transition: .3s all;
}

.language:hover {
    color: #013a8f;
}

.language.active {
    color: #0962E8;
}

.language_background {
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    min-height: 26px;
    min-width: 26px;
    max-height: 26px;
    max-width: 26px;
    border-radius: 100%;
    background-color: #FFFFFF;
    transition: .3s all;
}

.language_wrapper[data-lang='en'] .language_background {
    right: 0;
}
.language_wrapper[data-lang='ru'] .language_background {
    right: calc(26px + 15px);
}

.hero h1 {
    font-size: 64px;
    color: #29374E;

    margin-bottom: 20px;
    transition: .3s all;

    position: relative;
    z-index: 3;
}

.hero h1 span {
    color: var(--base-color);
    margin-left: 18px;
    position: relative;
    z-index: 1;
}

.hero h1 span::after {
    content: '';
    position: absolute;

    top: -8px;
    left: -22px;
    display: block;
    width: calc(100% + 44px);
    height: calc(100% + 16px);

    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: -1;

    transition: .3s all;
}

.hero p {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;

    color: #29374E;

    margin-bottom: 35px;
    position: relative;
    z-index: 3;
}

.info_wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.info_text {
    margin-top: 120px;

    min-width: 384px;
    max-width: 384px;
}

.info_image {
    pointer-events: none;
    margin-left: 50px;
}
.info_image img {
    z-index: 1;
}

.info_button {
    background-color: #0962E8;
    border-radius: 8px;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    outline: 0;
    border: 0;
    padding: 13px 30px;
    cursor: pointer;

    transition: .2s all ease-out;
}

.info_button:hover {
    color: #0962E8;
    background-color: #EFF9FF;
    transition: .3s background-color ease-in, .1s color ease-in;
}

.features {
    margin-top: -100px;
}

.features .container {
    display: flex;
    flex-wrap: row nowrap;
    gap: 20px;
}

.feature {
    background: #FFFFFF;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 22px;

    flex-grow: 1;

    position: relative;
}
.feature_icon {
    position: absolute;
    right: 22px;
    top: 22px;

    min-width: 39px;
    min-height: 39px;
    max-width: 39px;
    max-height: 39px;

    background-color: #EFF9FF;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s all;
}
.feature_icon span {
    color: #0962E8;
    font-size: 24px;

    transition: .3s all;
}

.feature_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #29374E;

    transition: .3s all;
}